---
---

@import "{{ site.theme }}";
body{
    text-align: center;
}
li {
    display: inline;
    list-style: none; /* pour enlever les puces sur IE7 */
    margin: 10px;
}
.fork {
    margin-top: 0
}